<li>

    <% if(locals.user && ((locals.user.id==comment.user.id)||(locals.user.id==post.user.id)) ){ %>
            <small><a href="/comments/destroy/<%= comment.id %>">XC</a></small>
            <% } %>

    <p>
            <%= comment.content %>
            <%= comment.user.email %>

    </p>
   
</li>   