<h1>Codial developed by Gautam Singh</h1>
  
<section id="feed-post">
        <h3>POST HERE</h3>
        <form action="/posts/create" method="POST" id="new-post-form">
                <textarea name="content" id="" cols="30" rows="5" placeholder="Type here ..."></textarea>
                <button type="submit">Post</button>
        </form>
</section>